#menu{
    background-color:rgb(85, 33, 135);
    color: white;

    margin: 0;
    padding: 10px;
    width: 10%;

    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-size: 20px;
    z-index: 2;
}

#menu > h2{
    color:antiquewhite;
}

#link1{
    color: white;
}
#link2{
    color: white;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 20%;
    text-align: center;
    font-size: 18px;
    background-color:rgb(109, 115, 233);
    color: black;
    padding: 5px;
    z-index: 1;
}

#myName{
    font-size: 30px;
    font-weight: bold;
}


html, body{
    height: 100%;
}
#rest{
    margin-top: 14%;
    margin-left: 14%;
}
#statement{
    font-size: 20px;
    text-align: center;
    font-style:oblique;
}

#backButton{
    background-color:rgb(177, 150, 203);
    font-size: 20px;
    width: 45px;
}

#projTitle{
    text-align: center;
}
#photo{
    margin-left: 25%;
}
#headThree{
    font-size: 30px;
}

#text{
    text-align: center;
    width: 500px;
    margin-left:30%
}