
#menu{
    background-color:rgb(85, 33, 135);
    color: white;

    margin: 0;
    padding: 2%;
    width: 10%;
   
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-size: clamp(10px, 1.5vw, 30px);
    z-index: 2;
}

#menu > h2{
    color:antiquewhite;
}

#link1{
    color: white;
}
#link2{
    color: white;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    text-align: center;
    font-size: clamp(15px, 1.3vw, 30px);
    background-color:rgb(109, 115, 233);
    color: black;
    padding: 0.5%;
    z-index: 1;
    min-height: 150px;
}

#myName{
    font-size: clamp(20px, 2vw, 50px);
    font-weight: bold;
}


html, body{
    height: 100%;
}
#rest{
    margin-top: 200px;
    margin-left: 14%;
    font-size: clamp(8px, 1.5vw, 15px);
}
#statement{
    font-size: clamp(15px, 1.5vw, 30px);
    text-align: center;
    font-style:oblique;

}

#backButton{
    background-color:rgb(177, 150, 203);
    font-size: clamp(9px, 1vw, 15px);
    width: 5%;
}

#projTitle{
    text-align: center;
}

@media screen and (min-width: 412px){
    #photo{
    display: block;
    height: auto;
    max-width: 100%;
    }
}

@media screen and (min-width: 786px){
    #photo{
    display: block;
    height: auto;
    max-width: 100%;
    }
    #menu{
    margin: 0;
    padding: 0;
    width: 100%;
   
    position: fixed;
    left: 0;
    margin-top: 160px;
    
    text-align: center;

    max-height:15%;
    font-size: clamp(10px, 1.5vw, 15px);
    }
    header{
        width:100%;
        padding: 0;
        font-size: clamp(10px, 1.5vw, 15px);
    }
    #rest{
        margin-top:300px;
        margin-left: 30px;
    }
}


#headThree{
    font-size: clamp(10px, 1.5vw, 20px);
}

#text{
    text-align: center;
    width: 50%;
    margin-left: 30%
}

#portfolio{
    text-align: center;
}