
#menu{
    background-color:rgb(85, 33, 135);
    color: white;

    margin: 0;
    padding: 2%;
    width: 10%;

   
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-size: clamp(10px, 1.5vw, 30px);
    z-index: 2;
}

#menu > h2{
    color:antiquewhite;
}

#link1{
    color: white;
}
#link2{
    color: white;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    text-align: center;
    font-size: clamp(10px, 1.3vw, 30px);
    background-color:rgb(109, 115, 233);
    color: black;
    padding: 0.5%;
    z-index: 1;
}

#myName{
    font-size: clamp(10px, 2vw, 40px);
    font-weight: bold;
}


html, body{
    height: 100%;
}
#rest{
    margin-top: 17%;
    margin-left: 14%;
    font-size: clamp(8px, 1.5vw, 15px);
}
#statement{
    font-size: clamp(10px, 1.5vw, 30px);
    text-align: center;
    font-style:oblique;

}

#backButton{
    background-color:rgb(177, 150, 203);
    font-size: clamp(5px, 1vw, 15px);
    width: 4%;
}

#projTitle{
    text-align: center;
}
#photo{
    margin-left: 25%;
}
#headThree{
    font-size: clamp(10px, 1.5vw, 30px);
}

#text{
    text-align: center;
    width: 50%;
    margin-left: 30%
}
@media only screen and (max-width: 412){
    #statement{
        padding-top: 8%;
    }
}